@CHARSET "UTF-8";

@font-face{
	font-family: NanumGothicFont;
	src: url(../font/NANUMGOTHIC.TTF);
}

@font-face{
	font-family: NanumGothicFont;
	src: url(../font/NANUMGOTHICEXTRABOLD.TTF);
	font-weight: bold;
}

#wrap{
	width: 1200px;
	height: 800px;
	margin: 0px auto;
}

#content{
	width: 900px;
	padding-top: 40px;
	padding-left: 30px;
	float: left;
}

#title{
	display: inline-block;
	color: #555555;
	font-size: 15pt;
	font-weight: bold;
	margin: 10px;
}

table{
	border-collapse: collapse;
	font-size: 10pt;
	border-top: 2px solid #e4e4e4;
}

td{
	border-bottom: 1px solid #e4e4e4;
}

#top{
	border-top: 2px solid #e4e4e4;
}

.info{
	margin: 0px;
	padding: 5px;
	text-align: center;
	background-color: #f4f4f4;
}

.input{
	margin: 0px;
	padding: 5px;
}

#list_table .input{
	text-align: center;
}

#input_btn{
	padding: 10px;
	margin: 0px;
	text-align: center;
	border: none;
}

#location_btn{
	padding: 10px;
	margin: 0px;
	text-align: center;
	border: none;
}

#search_table .info{
	width: 100px;
}

#search_table .input{
	width: 580px;
}

#list_table{
	margin-top: 10px;
}

.short{
	width: 60px;
}

.long{
	width: 410px;
}

.middle{
	width: 130px;
}

#submit_btn{
	border: none;
	margin: 0px;
	padding: 10px;
	text-align: right;
}

.hover{
	text-decoration: none;
	font-size: 10pt;
	color: #7d7d7d;
}

#list_page table{
	width: 700px;
	border: none;
}

input[type='text'], input[type='date']{
	border: 2px solid #dadada;
}

