@CHARSET "UTF-8";

@font-face{
	font-family: NanumGothicFont;
	src: url(../font/NANUMGOTHIC.TTF);
}

@font-face{
	font-family: NanumGothicFont;
	src: url(../font/NANUMGOTHICEXTRABOLD.TTF);
	font-weight: bold;
}

#wrap{
	width: 1200px;
	height: 800px;
	margin: 0px auto;
}

#content{
	width: 900px;
	padding-top: 40px;
	padding-left: 30px;
	float: left;
}

#title{
	display: inline-block;
	color: #555555;
	font-size: 15pt;
	font-weight: bold;
	margin: 10px;
}

table{
	border-collapse: collapse;
	font-size: 10pt;
	border-top: 2px solid #e4e4e4;
	width: 700px;
}

td{
	border-bottom: 1px solid #e4e4e4;
}

#top{
	border-top: 2px solid #e4e4e4;
}

thead .no, thead .writer, thead .res_dt, thead .hit{
	width: 110px;
	margin: 0px;
	padding: 5px;
	text-align: center;
	background-color: #f4f4f4;
}

thead .title{
	width: 210px;
	margin: 0px;
	padding: 5px;
	text-align: center;
	background-color: #f4f4f4;
}


.no, .writer, .res_dt, .hit{
	width: 110px;
	margin: 0px;
	padding: 5px;
	text-align: center;
}

.title{
	width: 210px;
	margin: 0px;
	padding: 5px;
	text-align: center;
}

#input_btn{
	padding: 10px;
	margin: 0px;
	text-align: right;
	border: none;
}

#location_btn{
	padding: 10px;
	margin: 0px;
	text-align: center;
	border: none;
}

.hover{
	text-decoration: none;
	font-size: 10pt;
	color: #7d7d7d;
}

#list_page table{
	border: none;
}

#list_table{
	margin-top: 10px;
}

#search_table .info{
	width: 100px;
	margin: 0px;
	padding: 5px;
	text-align: center;
	background-color: #f4f4f4;
}

#search_table .input{
	width: 580px;
	margin: 0px;
	padding: 5px;
}
