@CHARSET "UTF-8";

@font-face{
	font-family: NanumGothicFont;
	src: url(../font/NANUMGOTHIC.TTF);
}

@font-face{
	font-family: NanumGothicFont;
	src: url(../font/NANUMGOTHICEXTRABOLD.TTF);
	font-weight: bold;
}

div{
	border:0px;
}

#wrap{
	width: 1200px;
	height: 800px;
	margin: 0px auto;
}

#content{
	width: 900px;
	padding-top: 40px;
	padding-left: 30px;
	float: left;
}

#title{
	display: inline-block;
	color: #555555;
	font-size: 15pt;
	font-weight: bold;
	margin: 10px;
}

table{
	border-collapse: collapse;
	font-size: 10pt;
	border-top: 2px solid #e4e4e4;
}

.info{
	background-color: #f4f4f4;
	width: 100px;
	padding: 5px;
	margin: 0px;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
}

.input{
	width: 110px;
	padding: 5px;
	margin: 0px;
	text-align: center;
	border-bottom: 1px solid #e4e4e4;
}

#title_input{
	padding: 5px;
	margin: 0px;
	border-bottom: 1px solid #e4e4e4;
}


#notice_content{
	border-bottom: 1px solid #e4e4e4;
	padding: 10px;
	margin: 0px;
}

textarea{
	width: 680px;
	padding: 10px;
	overflow-y: scroll;
	resize: none;
}

#btn_area{
	text-align: right;
	padding-top: 10px;
}

#small_title{
	display: inline-block;
	color: #444444;
	font-size: 11pt;
	font-weight: bold;
	margin: 10px 5px 5px 5px;
}

#reply_input{
	padding-top: 10px;
}

#reply_input input[type='text']{
	border: 2px solid #dadada;
}

#reply{
	border-top: 1px solid #e4e4e4;
	margin-top: 3px;
}

#reply td{
	border-bottom: 1px solid #e4e4e4;
}

.emp_id{
	padding: 5px 5px 5px 10px;
	width: 90px;
	background-color: #f4f4f4;
}

.reply_content{
	padding: 5px;
	width: 350px;
}

.reply_dt{
	padding: 5px;
	width: 160px;
	background-color: #f4f4f4;
}

.reply_delete{
	width: 50px;
	text-align: center;
	border: none;
}

#reply_content{
	margin: 0px 5px 0px 20px;
}
